:root {
    --color-background: #f0f0f0;
    --color-text: #333;
    --color-border: #ccc;
    --color-placeholder: #777;
    --color-primary: #039703;
    --color-primary-hover: #035303;
    --color-link: #1a73e8;
    --color-divider: #ddd;
    --color-social-hover: #f0f0f0;
    --color-floating-label: #5f6268;
    --color-white: #fff;
    --background-login: url(../imagens-page/walpaper-pagina-login.jpg);
    --color-navbar: #013301;
    --color-navbar-hover: #265226;
;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-background);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--color-text);
    background: var(--background-login);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
    background-size: cover;
}

html {
    max-width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        overflow-x: hidden;
        display: flex;
        background: linear-gradient(90deg, #013301,#035303,#013301);
        height: auto;
        width: 100%;
        justify-content: space-between;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        padding: 10px, 0px; 
    }

    .nav-back{
        display: flex;
        margin: 0;
        align-items: center;
    }

    .nav-service-box {
        margin: 0;
        padding: 0 12px;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nav-service-box a {
        white-space: nowrap;
        color: var(--color-white);
        padding: 0px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        text-decoration: none;
        color: var(--color-white);
        display: block;
        width: 100%;
        text-align: center;
    }
}

.nav-container {
    display: flex;
    background: linear-gradient(90deg, #013301,#035303,#013301);
    height: 100px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 100vw;
    overflow: hidden;
}

.nav-back{
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.nav-service-box {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-right: 50px;
}

.nav-service-box a {
    ccolor: var(--color-white);
    padding: 15px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: var(--color-white);
}

.nav-service-box a:hover {
    background-color: var(--color-navbar-hover);   
}

.container,
.cadastrar-categoria {
    margin-top: 100px;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(50px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    padding: 20px;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.container.active,
.cadastrar-categoria.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--color-white);
    padding: 50px 40px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); 
}

.header {
    display: flex;
    text-align: center;
    position: relative;
    z-index: 1;
    gap: 45px;
}

.title-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.text-inform {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 55px;
    width: 400px;
    background: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding-inline: 8px;
}

.form-btn--submit {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.form-btn--submit:hover {
    background-color: var(--color-primary-hover);
}

.form-container a {
    text-decoration: none;
}
